.detail{
  padding: 1rem 3rem;
}

.detail_name{
  margin: 0 1rem;
  font-size: 5rem;
}

.detail_temperament{
  font-size: 2rem;
  margin: 1.5rem 1rem 1rem;
}

.detail_dog{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.detail_pic{
  object-fit: contain;
  height: 30rem;
  width: 50rem;
  margin: 1rem 0;
}

.detail_data{
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin: 2rem 4rem;
}

.detail_back{  
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 9rem;
  position: fixed;
  padding: 0.2rem 0.4rem;
  width: 15rem;
  background: var(--black);
  color: var(--white);
  border: 2px solid var(--white);
  box-shadow: inset 0 0 0 0 var(--white);
  transition: ease-out 0.4s;

}

.detail_back:hover {
  color: var(--black);
  box-shadow: inset 600px 0 0 0 var(--white);
}
