@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
  --black: hsl(45, 14%, 11%);
  --white: hsl(0, 0%, 97%);
  --dark-color: hsl(87, 5%, 63%);
  --light-color: hsl(90, 9%, 86%);
  --medium-color: hsla(87, 5%, 63%, 0.50);
  --font: 'Montserrat', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  
  font-family: var(--font);
  background-color:var(--black);
  color: var(--white);
}