.pagination {
  text-align: center;
}

.btn, .btn_a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0.7rem;
  border-color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.btn {
  background: var(--black);
  color: var(--white);
}
.btn_a {
  background: var(--white);
  color: var(--black);
}
  
.btn:hover {
  color: var(--black);
  box-shadow: inset 600px 0 0 0 var(--white);
}

.btn:disabled {
  cursor: default;
  color: var(--dark-color);
  border-color: var(--dark-color);
}

.btn:hover:disabled {
  color: var(--dark-color);
  box-shadow: none;
}